.img-circle {
  display: none;
  height: 300px;
  width: 300px;
}

#coffee {
  display: none;
  height: 600px;
  width: 600px;
}

.clickable {
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover {
  text-decoration: underline;
}
